autosave/
build/
*.zip
*.7z

*.log
# bsp is like dist/build, ignore it
*.bsp 
*.lit
*.prt
*.texinfo
*.texinfo.json
*.vis
*.pts
*-compile.map
*-crash*.map
*-crash*.txt

# can't commit music because i don't own it
maps/*/music/**
# exceptions
!maps/xmjr_rabbit/music/**
!maps/mcj_rabbit/music/**
!maps/mpj2_rabbit/music/**

_ignore

# Blender
*.blend1
# Krita
*.kra~
# OpenMPT
*.bak
*.Autosave.*
# ...